In [1]:
!pip install MissForest

Collecting MissForest
  Downloading MissForest-1.1.1-py3-none-any.whl (4.2 kB)
Installing collected packages: MissForest
Successfully installed MissForest-1.1.1

In [3]:
# Import dependencies
import numpy as np
import pandas as pd
from missforest.miss_forest import MissForest
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [6]:
# Read our toy dataset 
fish = pd.read_csv('Fish.csv')

# Set missing values
fish.iloc[1, 0] = np.nan
fish.iloc[155, 0] = np.nan
fish.iloc[1, 2] = np.nan
fish.iloc[155, 2] = np.nan

In [7]:
mf = MissForest()
mf.single_impute(fish, "Species", RandomForestClassifier())

0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
154    Smelt
155    Smelt
156    Smelt
157    Smelt
158    Smelt
Name: Species, Length: 159, dtype: object

In [8]:
# Instantiate our imputator
mf = MissForest()
mf.impute(x=fish, classifier=RandomForestClassifier(), regressor=RandomForestRegressor())

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0   23.200     25.4     30.0  11.5200  4.0200
1     Bream   290.0   24.162     26.3     31.2  12.4800  4.3056
2     Bream   340.0   23.900     26.5     31.1  12.3778  4.6961
3     Bream   363.0   26.300     29.0     33.5  12.7300  4.4555
4     Bream   430.0   26.500     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2   11.500     12.2     13.4   2.0904  1.3936
155   Smelt    13.4   11.545     12.4     13.5   2.4300  1.2690
156   Smelt    12.2   12.100     13.0     13.8   2.2770  1.2558
157   Smelt    19.7   13.200     14.3     15.2   2.8728  2.0672
158   Smelt    19.9   13.800     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]